/* Custom CSS overrides disabled. */

@media (min-width: 768px) {
  .preview-img {
    background-color: #0d1117;
    overflow: hidden;
  }

  .preview-img,
  .preview-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
  }
}

.post-content img {
  height: auto;
  max-width: 100%;
}
