/* Custom CSS overrides disabled. */

@media (min-width: 768px) {
  #post-list .card .preview-img {
    background-color: #0d1117;
  }

  #post-list .card .preview-img img {
    object-fit: cover;
    object-position: center;
  }
}

.post-content img {
  height: auto;
  max-width: 100%;
}
