---
layout: default
---

<div class="page-home container">
  <header class="page-home-header">
    <h1 class="page-home-title">{{ site.title }}</h1>
    <p class="page-home-subtitle">
      {{ site.description }}
    </p>
  </header>

  <main class="page-home-main">
    <section class="post-list">
      <h2 class="post-list-title">Articles récents</h2>
      <ul class="post-list-items">
        {% for post in site.posts %}
        <li class="post-list-item">
          <a href="{{ post.url | relative_url }}" class="post-list-link">
            <span class="post-list-item-title">{{ post.title }}</span>
            <span class="post-list-item-meta">
              {{ post.date | date: "%d %B %Y" }}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</div>
